*, html {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: sans-serif;
  }
  a {
    text-decoration: none;
    color: white;
  }
img {
    width: 100%;
  }
.back-image {
    background-image:linear-gradient( to bottom, rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.911)), url(./img/background-1.jpg);
    width: auto;
    height: 300px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 50px;
    background-size: cover;
    height: 100vh;
    border-bottom: 8px solid rgb(66, 66, 66);
}

.nav-bar {
    margin-top: -20px;
    display: flex;
}

.nav-bar img {
    width: 12%;
    margin-right: 75%;
    margin-left: 35px;
}

.nav-bar button {
    width: 7%;
    height: 40px;
    border: 0px none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;

}

.back-image h1 {
    font-size: 3.1rem;
    margin-top: 150px;
}

.span-1 {
    font-size: 30px;
    font-weight: lighter;
}

.span-2 {
    font-weight: lighter;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.form-1{
    font-family: sans-serif;

}
.form-1 input {
    width: 35%;
    height: 58px;
    padding-left: 20px;
    border-radius: 2px;
    border: 0px none;
    font-family: sans-serif;
    font-size: 20px;
}

.form-1 button{
    width: 15%;
    height: 59px;
    background-color: red;
    margin-left: -2px;
    color: white;
    border-radius: 2px;
    border: 1px none;
    font-size: 20px;
    font-family: sans-serif;
}

.tv-section {
    background-color: black;
    color: white;
    padding-top: 90px;
    padding-left: 120px;
    display: flex;
    flex-direction: row;
    padding-bottom: 90px;
    border-bottom: 8px solid rgb(66, 66, 66);
}

.tv-section h1 {
    margin-top: 30px;
    font-size: 3.1rem;
    margin-bottom: 20px;
}

.tv-section p {
    width: 70%;
    font-size: 25px;
}

.tv-section img {
    width: 80%;
    margin-left: -20px;
}

.download {
    padding-top: 80px;
    padding-bottom: 90px;
    background-color: black;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    border-bottom: 8px solid rgb(66, 66, 66);

}

.download img {
    width: 90%;
}

.download-text {
    width: 40%;
    margin-top: 120px;
    margin-right: 50px;
}

.download-text h1 {
    color: white;
    font-size: 3.1rem;
    margin-bottom: 20px;
}

.download-text p{
    color: white;
    font-size: 25px;
}

.watch-section {
    background-color: black;
    color: white;
    padding-top: 70px;
    padding-left: 120px;
    padding-bottom: 70px;
    border-bottom: 8px solid rgb(66, 66, 66);
}

.watch-section h1 {
    margin-top: 30px;
    font-size: 3.1rem;
    margin-bottom: 20px;
}

.watch-section p {
    width: 70%;
    font-size: 25px;
}

.watch {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: black;
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    border-bottom: 8px solid rgb(66, 66, 66);

}

.watch img {
    width: 90%;
    margin-top: -50px;
}

.watch-text {
    width: 60%;
    margin-right: 50px;
    margin-top: 50px;
}

.watch-text h1 {
    color: white;
    font-size: 3.1rem;
    margin-bottom: 20px;
}

.watch-text p{
    color: white;
    font-size: 25px;
}

.frequently-asked {
    background-color: black;
    color: white;
    padding: 90px 0px 90px;
    border-bottom: 8px solid rgb(66, 66, 66);

}

.frequently-asked h1 {
    color: white;
    font-size: 3.1rem;
    margin-bottom: 40px;
    text-align: center;
}

.accordion {
    display: flex;
    flex-direction: row;
    border: 2px white;
    width: 55%;
    height: 40px;
    padding: 25px 0px 15px 40px;
    background-color: rgb(49, 49, 49);
    margin: auto;
    margin-bottom: 10px;
    
}

.accordion p {
    font-size: 25px;
    width: 50%;
}

.accordion img {
    width: 30px;
    margin-left: 40%;
    margin-top: -10px;
}

.accordion-button {
    text-align: center;
    margin-top: 80px;
}

.accordion-button input {
    border-bottom: 2px solid orange;
}

.accordion-p{
    color: orange;
    padding-right: 400px;
    text-align: center;
}

.footer-container {
    background-color: black;
    color: rgb(100, 100, 100);
    padding: 60px 0px 30px 0px;
}

.footer-container p:hover {
    text-decoration: underline;
}

.top-footer {
    margin-left: 260px;
    margin-bottom: 40px;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-flex p {
    margin-right: 100px;
    margin-bottom: 15px;
}

.footer-flex a {
    color: rgb(100, 100, 100);
    font-size: 13px;
}

.bottom-footer {
    margin-left: 265px;
    font-size: 13px;
    margin-top: 30px;
}
